<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1><%= list.title %></h1>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >item.description</label
        >
        <h4>add a button to add the item</h4>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
